* {
  box-sizing: border-box;
}

body{
  background-color: #797979;
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  width: 960px;
}

nav{
  background-color: #c0c0c0c0;
}


#sectionFour{
  float: left;
}

#cupcakeIpsum{
  width: 480px;
  height: 400px;
  overflow-y: scroll;
}


footer {
  clear:both;
  background-color: #797979;
  text-align: center;
  margin-bottom: 200px;
  padding: 30px;
}